/* src/app/globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --backdrop: rgba(29, 30, 33, 0.7);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --backdrop: var(--backdrop);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* menu styles */
.menu-transition {
  transition: transform 0.4s ease;
}

.menu-closed {
  transform: translate3d(-100%, 0, 0);
}

.menu-open {
  transform: translate3d(0, 0, 0);
}

/* Smooth scrolling for menu */
.menu-content {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e0 transparent;
}

.menu-content::-webkit-scrollbar {
  width: 4px;
}

.menu-content::-webkit-scrollbar-track {
  background: transparent;
}

.menu-content::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 2px;
}